<!DOCTYPE html>
<html lang="es">
    <head>
        <title>NUCO 404</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="NUCO arte ilustrado: obra gráfica, cerámica, textil. Diseño de Autor, marca independiente">
        <meta name="keywords" content="NUCO ARTE ILUSTRADO ILUSTRACION OBRA GRAFICA CERAMICA TEXTIL DISEÑO DE AUTOR MUNDO DE COLOR">
        <meta name="copyright" content="NUCO® arte ilustrado">
        <link rel="icon" href="../assets/img/nucologo.ico">
        <!--Tipografía google font-->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Varela&display=swap" rel="stylesheet">
        <!--Link CSS-->
        <link rel="stylesheet" href="../assets/css/nucoconsass.css">
        <!--Autoría-->
        <meta name="author" content="Guillermo Vicente">
    </head>
    <body>
        <!--Header-->
        <header>
            <nav class="navPadreEnHeader__404">
                <!--Menú secciones del sitio-->
                <div class="navHijoEnHeader__404">
                    <li class="botonNav__404 subnavMenu__404"><a href="../index.html">vuelve al Inicio</a></li>
                </div>
                <img class="navHijoEnHeaderLogo__404 logoPrincipal--404" src="../assets/img/ojoslogo2.jpg" title="NUCO arte ilustrado" alt="NUCO arte ilustrado"><a href="../index.html"></a>
            </nav>
        </header>
        <section class="sectionBase--404 navPadreEnHeader">
            <figure class="navHijoEnHeader">
                <img class="navHijoEnHeader gridFigure animaBarraLat"  src="../assets/img/oso circuspink.jpg" alt="oso circus">
                <figcaption class="navHijoEnHeader">
                    <p class="textoInicio--404 animaTexto">
                        Error: HTTP 404
                    </p>
                </figcaption>
            </figure>
            <p class="sectionBase__texto--404">
                Página no encontrada, por favor regrese al Inicio!
            </p>
        </section>
        <!--Footer o pie de página-->
        <footer class="footer_404">
            <!--Dirección-->
            <address class="adressCursada">
                <!--Logo-->
                <div>
                    <a href="../index.html">
                        <img class="logoFooter" src="../assets/img/nucologo.png"  title="NUCO arte ilustrado" alt="NUCO arte ilustrado">
                    </a>
                </div>
                <!--Cursada-->
                <p class="negrita">
                    Desarrollo Web en Coder House | Camada-16585 | Profesor:Darío Ceballos | Tutor: José Pastrán | Alumno: Guillermo Vicente
                </p>
            </address>
        </footer>
    </body>
</html>